.elementor-2543 .elementor-element.elementor-element-769ec46e > .elementor-container {
    min-height: 70px;
}

.elementor-2543 .elementor-element.elementor-element-769ec46e > .elementor-background-overlay {
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2543 .elementor-element.elementor-element-769ec46e {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0% 0% 0% 50%;
    z-index: 1;
}

.elementor-2543 .elementor-element.elementor-element-270248e5 > .elementor-container {
    min-height: 100vh;
}

.elementor-2543 .elementor-element.elementor-element-270248e5 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-2543 .elementor-element.elementor-element-270248e5 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -53px;
    margin-bottom: 0px;
    padding: 0% 0% 0% 50%;
}

.elementor-2543 .elementor-element.elementor-element-270248e5 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2543 .elementor-element.elementor-element-51fbdbf8:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-2543 .elementor-element.elementor-element-51fbdbf8 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: rgba(0, 0, 0, 0.75);
}

.elementor-2543 .elementor-element.elementor-element-51fbdbf8 > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0% 20% 0% 20%;
}

.elementor-2543 .elementor-element.elementor-element-51fbdbf8 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2543 .elementor-element.elementor-element-5defeb9e {
    text-align: left;
}

.elementor-2543 .elementor-element.elementor-element-5defeb9e .elementor-heading-title {
    color: #ffffff;
    font-family: "Oswald", Sans-serif;
    font-size: 55px;
    font-weight: 400;
}

.elementor-2543 .elementor-element.elementor-element-14b0612 .elementor-field-group {
    padding-right: calc(10px / 2);
    padding-left: calc(10px / 2);
    margin-bottom: 10px;
}

.elementor-2543 .elementor-element.elementor-element-14b0612 .elementor-form-fields-wrapper {
    margin-left: calc(-10px / 2);
    margin-right: calc(-10px / 2);
    margin-bottom: -10px;
}

.elementor-2543 .elementor-element.elementor-element-14b0612 .elementor-field-group.recaptcha_v3-bottomleft, .elementor-2543 .elementor-element.elementor-element-14b0612 .elementor-field-group.recaptcha_v3-bottomright {
    margin-bottom: 0;
}

body.rtl .elementor-2543 .elementor-element.elementor-element-14b0612 .elementor-labels-inline .elementor-field-group > label {
    padding-left: 0px;
}

body:not(.rtl) .elementor-2543 .elementor-element.elementor-element-14b0612 .elementor-labels-inline .elementor-field-group > label {
    padding-right: 0px;
}

body .elementor-2543 .elementor-element.elementor-element-14b0612 .elementor-labels-above .elementor-field-group > label {
    padding-bottom: 0px;
}

.elementor-2543 .elementor-element.elementor-element-14b0612 .elementor-field-type-html {
    padding-bottom: 0px;
}

.elementor-2543 .elementor-element.elementor-element-14b0612 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper) {
    background-color: #ffffff;
}

.elementor-2543 .elementor-element.elementor-element-14b0612 .elementor-field-group .elementor-select-wrapper select {
    background-color: #ffffff;
}

.elementor-2543 .elementor-element.elementor-element-14b0612 .e-form__buttons__wrapper__button-next {
    color: #ffffff;
}

.elementor-2543 .elementor-element.elementor-element-14b0612 .elementor-button[type="submit"] {
    color: #ffffff;
}

.elementor-2543 .elementor-element.elementor-element-14b0612 .elementor-button[type="submit"] svg * {
    fill: #ffffff;
}

.elementor-2543 .elementor-element.elementor-element-14b0612 .e-form__buttons__wrapper__button-previous {
    color: #ffffff;
}

.elementor-2543 .elementor-element.elementor-element-14b0612 .e-form__buttons__wrapper__button-next:hover {
    color: #ffffff;
}

.elementor-2543 .elementor-element.elementor-element-14b0612 .elementor-button[type="submit"]:hover {
    color: #ffffff;
}

.elementor-2543 .elementor-element.elementor-element-14b0612 .elementor-button[type="submit"]:hover svg * {
    fill: #ffffff;
}

.elementor-2543 .elementor-element.elementor-element-14b0612 .e-form__buttons__wrapper__button-previous:hover {
    color: #ffffff;
}

.elementor-2543 .elementor-element.elementor-element-14b0612 {
    --e-form-steps-indicators-spacing: 20px;
    --e-form-steps-indicator-padding: 30px;
    --e-form-steps-indicator-inactive-secondary-color: #ffffff;
    --e-form-steps-indicator-active-secondary-color: #ffffff;
    --e-form-steps-indicator-completed-secondary-color: #ffffff;
    --e-form-steps-divider-width: 1px;
    --e-form-steps-divider-gap: 10px;
}

#elementor-popup-modal-2543 .dialog-message {
    width: 100vw;
    height: 100vh;
    align-items: flex-start;
}

#elementor-popup-modal-2543 {
    justify-content: center;
    align-items: center;
    pointer-events: all;
    background-color: rgba(0, 0, 0, .8);
}

#elementor-popup-modal-2543 .dialog-close-button {
    display: block;
    font-size: 30px;
}

#elementor-popup-modal-2543 .dialog-widget-content {
    animation-duration: 1.2s;
    background-image: url("gym_bg.png" /*tpa=https://library.elementor.com/wp-content/uploads/2019/01/gym_bg.png*/);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 8px 23px 3px rgba(0, 0, 0, 0.2);
}

#elementor-popup-modal-2543 .dialog-close-button i {
    color: #ffffff;
}

@media (max-width: 1024px) {
    .elementor-2543 .elementor-element.elementor-element-769ec46e {
        padding: 0% 0% 0% 40%;
    }

    .elementor-2543 .elementor-element.elementor-element-270248e5 {
        padding: 0% 0% 0% 40%;
    }

    .elementor-2543 .elementor-element.elementor-element-5defeb9e .elementor-heading-title {
        font-size: 41px;
    }

    #elementor-popup-modal-2543 .dialog-widget-content {
        background-position: center center;
    }
}

@media (max-width: 767px) {
    .elementor-2543 .elementor-element.elementor-element-769ec46e {
        padding: 0px 0px 0px 0px;
    }

    .elementor-2543 .elementor-element.elementor-element-270248e5 > .elementor-container {
        min-height: 100vh;
    }

    .elementor-2543 .elementor-element.elementor-element-270248e5 {
        padding: 0px 0px 0px 0px;
    }

    .elementor-2543 .elementor-element.elementor-element-51fbdbf8 > .elementor-element-populated {
        padding: 0px 50px 0px 50px;
    }

    .elementor-2543 .elementor-element.elementor-element-5defeb9e .elementor-heading-title {
        font-size: 45px;
    }

    #elementor-popup-modal-2543 .dialog-widget-content {
        background-position: -202px 0px;
    }
}